* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  background-color: #111;
}

:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: #686868;
    }

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;

}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row {
  color: white;
  margin-left: -60px;
  margin-right: -60px;
  margin-top: 45px;
}

/* banner */
.banner {
  background-image: url('https://i.ibb.co/5h9GbvN/image.png');
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.3s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

h4.att {
  text-align: center;
}
  
u {
    text-decoration: underline;
    text-decoration-color: white;
    color:white;
}

.info2 {
  margin: 10px 0px 20px 0px; 
  padding: 20px 15px 15px 13px;
  background-color: #26464b; 
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}


/* button close */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* Lorsque vous déplacez la souris sur le bouton de fermeture */
.closebtn:hover {
  color: black;
}

/* nav */

.nav__logo {
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  width: 58px;
  object-fit: contain;
  padding: 23px 22px 0px 0px;
  
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* background-color: #111; */
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

/* MAIN CONTIANER */
.main-container {
  padding: 130px;
}

.row{
  display: flex;
}

.left{
  flex: 50%;
  padding: 15px 0;
}
.left h2{
  padding-left: 10px;
}
.right{
  flex: 50%;
  /*padding: 20px;*/
  text-align: center;
}
.right h2{
  margin-top:35%;
}
.right label{
  color: #eee;
  font-family: monster;
}
#mySearch{
  width: 100%;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#myMenu{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myMenu li a{
  padding: 12px;
  text-decoration: none;
  color: white;
  display: block;
}
#myMenu li a:hover{
  background-color: #303030;
}
img {
  max-width: 100%;
}

h1 {
  padding-top: 60px;  
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}
p {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    text-align:center
    margin:auto
  }

    .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }

  /* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}



@media screen and (min-width:353px) and (max-width:1500px)
{
.banner--fadeBottom {
  margin-top: 160px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/* nav */

.nav__logo {
  width: 150px;
  object-fit: contain;
}

.nav__avatar {
  width: 75px;
  object-fit: contain;
  padding: 35px 35px 0px 0px;
  
}
.box {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 11px;
  max-width: 360px;
  height: 180px;
}

h1 {
  font-size: 30px;  
}

h4.att {
  text-align: center;
  padding: 9px;
}

#myMenu li a{
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
}

#mySearch{
  width: 100%;
  font-size: 25px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#myMenu{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left{
  flex: 50%;
  padding-top: 3em;
  margin-left: -50px;
  margin-right: -50px;
}
    .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-size: 15px;
  }
}

@media screen and (min-width:425px)
{
  /* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}
p {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    text-align:center
    margin:auto
  }

    .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    font-size: 15px;
  }
  
  .row {
    color: white;
    margin-left: -60px;
    margin-right: -60px;
    margin-top: 45px;
    
}
